{% extends "components/base.html" %} {% block title %} Page d'accueil {%
endblock %} {%block content %}
<div class="swiper w-[70%] h-[500px]">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div
      class="swiper-slide bg-[url('../../static/assets/images/sylvain-cherrier-distingue.png')] bg-cover bg-center"
    >
      <div
        class="flex flex-col items-center justify-end w-full h-full pb-20 px-20"
      >
        <div class="text-white text-center w-full h-1/5">
          <h2
            class="font-semibold text-[1.875rem] text-shadow-[2px_1px_1px_#000]"
          >
            Sylvain Cherrier distingué : la croix du combattant remise par M.
            Founé.
          </h2>
          <span class="text-shadow-[2px_1px_1px_#000] text-[0.9375rem]"
            >Cette médaille lui a été décernée au titre d’ancien des missions
            extérieures.
          </span>
        </div>
      </div>
    </div>
    <div
      class="swiper-slide bg-[url('../../static/assets/images/cherrier-histoire.png')] bg-cover bg-center"
    >
      <div class="flex flex-col items-center justify-end w-full h-full pb-20">
        <div class="text-white text-center w-full h-1/5">
          <h2
            class="font-semibold text-[1.875rem] text-shadow-[2px_1px_1px_#000]"
          >
            Sylvain Cherrier : histoire d'un truc qu'on a pas écouté.
          </h2>
          <span class="text-shadow-[2px_1px_1px_#000] text-[0.9375rem]"
            >Je crois qu'il parle d'étudiants à un moment mais ça avait l'air
            long
          </span>
        </div>
      </div>
    </div>
    <div
      class="swiper-slide bg-[url('../../static/assets/images/sylvain_momoa.png')] bg-cover bg-center"
    >
      <div class="flex flex-col items-center justify-end w-full h-full pb-20">
        <div class="text-white text-center w-full h-1/5">
          <h2
            class="font-semibold text-[1.875rem] text-shadow-[2px_1px_1px_#000]"
          >
            Il a affronté Stallone et Vin Diesel
          </h2>
          <span class="text-shadow-[2px_1px_1px_#000] text-[0.9375rem]"
            >Cette star du film d'action formera un nouveau duo inattendu pour
            un projet tenu secret</span
          >
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div
    class="swiper-button-prev !text-white !bg-black !rounded-full !p-2 !w-10 !h-10"
  ></div>
  <div
    class="swiper-button-next !text-white !bg-black !rounded-full !p-2 !w-10 !h-10"
  ></div>
</div>
<style>
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 1rem !important;
    font-weight: bold !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #fecc00 !important;
  }
</style>
{% endblock %}
