{% import "components/Navbar/btn_navbar.html" as ui %}

<nav class="bg-[#FECC00]">
  <div class="max-w-5xl mx-auto">
    <div class="py-[0.625rem] flex flex-row items-start">
      <a href="/">{% include 'components/logo.html' %}</a>
      <form action="/search" method="GET" class="flex-[0_1_25rem] m-auto">
        <div class="flex flex-row">
          <input
            type="search"
            name="search"
            id=""
            class="bg-white w-[360px] placeholder:font-bold placeholder:text-[#737373] rounded-l-sm text-xs py-[0.625rem] px-[0.875rem]"
            placeholder="Rechercher un film, une série, une star..."
          />
          <button
            type="submit"
            class="rounded-r-sm bg-white px-[0.75rem] before:content-[url('../../static/assets/images/icon_search.svg')] before:block before:h-5 before:w-5"
          ></button>
        </div>
        <span class="text-[10px]">
          Ex. : Meilleurs films d'animation Disney, Meilleurs films Pixar
        </span>
      </form>
    </div>
    <div class="flex flex-row justify-between">
      <ul class="flex flex-row font-bold uppercase text-sm">
        {{ ui.btn_navbar("Tous les étudiants","/students") }} {{
        ui.btn_navbar("Top 5 Films","/top5/films") }} {{ ui.btn_navbar("Top 5
        Genres","/top5/genres") }} {{ ui.btn_navbar("Top 5
        Real","/top5/directors") }} {{ ui.btn_navbar("Top 5 Décennies",
        "/top5/decades") }}
      </ul>
      <div class="relative group">
        <a
          href="/account"
          class="p-[0.625rem] block round rounded-t-[0.625rem] hover:bg-[#fff6] font-bold uppercase text-sm"
          >Mon compte</a
        >
        <div
          class="absolute flex-col items-center gap-y-2 right-0 bg-white shadow-[0_0px_10px_rgba(0,0,0,0.25)] px-4 py-6 w-70 rounded-xl text-[0.675rem] uppercase before:content-[''] before:block before:absolute before:border-b-[0.625rem] before:border-b-white before:border-l-[0.625rem] before:border-l-transparent before:border-r-[0.625rem] before:border-r-transparent before:top-[-0.325rem] before:right-[0.875rem] z-100 group-hover:flex hidden"
        >
          <a
            href="/login"
            class="p-[0.625rem] block border-1 w-50 hover:bg-gray-200 text-center rounded-3xl"
            >Identifiez-vous</a
          >
          <a
            href="/signup"
            class="p-[0.625rem] block border-1 w-50 hover:bg-gray-800 text-center rounded-3xl text-white bg-black"
            >Créer votre compte</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
