{% import "components/Navbar/btn_navbar.html" as ui %}

<nav class="bg-[#FECC00]">
  <div class="max-w-5xl mx-auto">
    <div class="py-[0.625rem] flex flex-row">
      <a href="/">{% include 'components/logo.html' %}</a>
      <form action="" class="flex-[0_1_25rem] m-auto">
        <input
          type="search"
          name="search"
          id=""
          class="bg-white w-[360px] placeholder:font-bold text-[#737373] rounded-l-xs text-xs py-[0.625rem] px-[0.875rem]"
          placeholder="Rechercher un film, une série, une star..."
        />
        <button type="submit" class="rounded-r-xs bg-white px-3"></button>
        <span class="text-[10px]"> Ex. : Meilleurs films d'animation Disney, Meilleurs films Pixar </span>
      </form>
    </div>
    <div class="flex flex-row justify-between font-bold uppercase text-sm">
      <ul class="flex flex-row">
        {{ ui.btn_navbar("Tous les étudiants","/students") }}
        {{ ui.btn_navbar("Top 5 Films","/top5/films") }}
        {{ ui.btn_navbar("Top 5 Genres","/top5/genres") }}
        {{ ui.btn_navbar("Top 5 Real","/top5/directors") }}
        {{ ui.btn_navbar("Top 5 Décennies", "/top5/decades") }}
      </ul>
      <a href="" class="p-2">Administrateur</a>
    </div>
  </div>
</nav>
