{% import "components/Footer/title_footer.html" as ui %}

<footer class="bg-[#2b2b2b] text-[#d8d8d8] max-w-full">
  <div class="grid grid-cols-3 max-w-[61.25rem] m-auto">
    {{ ui.title_footer("Suivez-nous") }} {{ ui.title_footer("AllocIMAC sur
    mobile") }} {{ ui.title_footer("AllocIMAC à l'étranger") }}
  </div>
  <div>
    <p></p>
    <p class="text-center">
      Retrouvez tous les horaires et infos de votre cinéma sur le numéro
      AllocIMAC : <span>0 892 892 892</span> (0,90€/minute)
    </p>
    <p class="flex flex-row py-[0.625rem]"></p>
  </div>
</footer>
