{% extends "components/base.html" %} {% block title %} Tous les genres {%
endblock %} {%block content %}
<section class="p-32 flex flex-col items-center gap-10">
  {% include 'components/logo_yellow.html' %}
  <div class="flex flex-col items-center gap-2">
    <h1 class="text-[1.125rem] uppercase font-semibold">
      Inscrivez-vous en 2 secondes
    </h1>
    <div class="text-sm text-[#737373]">
      Et rejoignez une communauté de 7 millions de cinéphiles.
    </div>
  </div>
  <form
    action="/signup"
    method="post"
    class="flex flex-col gap-y-4 items-center"
  >
    <p class="text-red-500">{{ message }}</p>
    <input
      type="text"
      id="username"
      name="username"
      required
      class="border border-[#737373] py-4 px-3 rounded-md w-100 placeholder:uppercase"
      placeholder="username"
    />

    <input
      type="password"
      id="password"
      name="password"
      required
      class="border border-[#737373] py-4 px-3 rounded-md w-100 placeholder:uppercase"
      placeholder="password"
    />

    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      required
      class="border border-[#737373] py-4 px-3 rounded-md w-100 placeholder:uppercase"
      placeholder="password confirmation"
    />

    <p class="text-[#737373] text-xs max-w-100 text-center">
      Utilisez 8 caractères minimum (avec un chiffre, une majuscule et une
      minuscule)
    </p>

    <button
      type="submit"
      class="bg-[#FECC00] hover:bg-[#e9bb01] hover:cursor-pointer px-6 py-3 rounded-3xl w-100 uppercase font-semibold"
    >
      S'inscrire
    </button>
</form>
  <p>
    Déjà un compte ? <a href="/login" class="text-blue-700">Connectez-vous</a>
  </p>
</section>
{% endblock %}
