{% extends "components/base.html" %} {% block title %} Modifier votre compte {% endblock %} {%block content %}
<section class="p-32 flex flex-col items-center gap-10">
  <div class="flex flex-col items-center gap-4">
    <h2 class="text-4xl font-bold uppercase">Bonjour {{ session.username }} !</h2>
    <p class=" text-xs font-semibold uppercase" >Vous pouvez modifier vos informations ci-dessous.</p>
  </div>
  <form action="/update" method="post" class="flex flex-col gap-y-4 items-center">

      <input type="text" name="prenom" placeholder="Prénom" value="{{ user.prenom }}" class="border border-[#737373] py-4 px-3 rounded-md w-full placeholder:uppercase" required />

      <input type="text" name="nom" placeholder="Nom" value="{{ user.nom }}" class="border border-[#737373] py-4 px-3 rounded-md w-full placeholder:uppercase" required />

    <div class="w-full flex flex-col gap-1">
      <label for="film">Votre film préféré</label>
      <select name="film" class="w-full p-2" required>
      {% for film in update.films %}
        <option value="{{ film.id }}"
          {% if user.film and film.id == user.film.id %}selected{% endif %}>
          {{ film.nom }}
        </option>
      {% endfor %}
      </select>
    </div>

    <div class="w-full flex flex-col gap-1">
      <label for="genre">Votre genre préféré</label>
      <select name="genre" class="w-full p-2" required>
        {% for genre in update.genres %}
          <option value="{{ genre.id }}"
            {% if user.genre and genre.id == user.genre.id %}selected{% endif %}>
            {{ genre.nom }}
          </option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="bg-[#FECC00] hover:bg-[#e9bb01] hover:cursor-pointer px-6 py-3 rounded-3xl w-100 uppercase font-semibold">Enregistrer</button>
  </form>
</section>
{% endblock %}
