{% extends "components/base.html" %} {% block title %} Top 5 films {% endblock %} {%block content %}
<section class="p-32 flex flex-col items-start gap-12">
  <h2 class="text-3xl font-bold">Top 5 films</h2>
  <div class="flex flex-col gap-8">
    
    {%if top5_films %} {% for oneFilm in top5_films %}
    <div class="flex flex-col gap-4" id="{{ oneFilm.id }}">
      <div class="">
        <h3 class="text-2xl font-bold ml-3">{{ oneFilm.nom_film }}</h3>
      </div> {% endfor %}
  </div> {% else %}
  <h1>Aucun top trouvé</h1>
  {% endif %}
</section>
{% endblock %}