<nav class="bg-[#FECC00]">
  <div class="max-w-5xl mx-auto">
    <div class="py-[0.625rem] flex flex-row">
      {% include 'components/logo.html' %}
      <div class="flex flex-col">
        <form action="" class="m-auto">
          <input
            type="search"
            name="search"
            id=""
            class="bg-white w-[360px]"
            placeholder="Rechercher un film, une série, une star..."
          />
          <input type="submit" value="" />
        </form>
        <span class="text-[10px]">
          Ex. : Meilleurs films d'animation Disney, Meilleurs films Pixar
        </span>
      </div>
    </div>
    <div class="flex flex-row justify-between font-bold uppercase text-sm">
      <ul class="flex flex-row">
        <li class="p-[0.625rem]">Top 5 Film</li>
        <li class="p-[0.625rem]">Top 5 Genre</li>
        <li class="p-[0.625rem]">Top 5 Real</li>
        <li class="p-[0.625rem]">Top 5 Décennies</li>
      </ul>
      <a href="" class="p-[0.5rem]">Ajouter une connerie</a>
    </div>
  </div>
</nav>
